<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Cervejas</h1>

    <a href="/">voltar para HOME</a>

<table>
    <thead>
  
    <tbody>
        {% for c in lista %}
        <tr>
            <td>{{ c.nome }}</td>
            <td>{{ c.estilo }}</td>
            <td>{{ c.pilsen }}</td>
            <td>{{ c.ibu }}</td>
            <td>{{ c.abv }}</td>
            <td>{{ c.graduacao }}</td>

        <tr>
        {% endfor %}
 
      </tbody>

    </thead>
</table>


</body>
</html>